    <nav class="lnb">
        <h1>
            <a href="/">
                <img src="{{URL}}/resources/assets/images/logo.png" alt="">
            </a>
        </h1>
        <ul class="depth_01">
            {{menus}}
        </ul>

        <div class="log_btn">
            <a href="{{URL}}/manager/etc/info/passwordChange" class="lock"><span class="blind">LOCK</span></a>
            <a href="{{URL}}/manager/logout" class="logout" style="background-color: #F8F8F9; width: 138px; "><span>Logout</span></a>
        </div>
    </nav>