<!-- #WRAP -->
<div id="wrap">
    <!-- #LNB -->
    {{menu}}
    <!--// #LNB -->

    <!-- #CONTENTS -->
    <div id="contents">
        <!-- #header -->
        <header id="header">
            <div class="inner">
                <div class="log_btn">
                    <a href="{{URL}}/manager/etc/info/passwordChange" class="lock"><span class="blind">LOCK</span></a>
                    <a href="{{URL}}/manager/logout" class="logout"><span>Logout</span></a>
                </div>
                <div class="mo_wrap">
                    <h1>
                        <a href="/">
                            <img src="{{URL}}/resources/assets/images/logo.png" alt="">
                        </a>
                    </h1>
                    <button class="site_btn"></button>
                </div>
            </div>
        </header>
        <!-- // #header -->

        <!-- Content -->
        {{content}}
        <!--// Content -->
    </div>
    <!-- // #CONTENTS -->


</div>
<!-- // WRAP -->